{% extends 'base.html' %}
{% load markdownify %}
{% load resizer %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
      <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
    </div>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ recipe.name }}</h1>
    <p>
      Created on {{ recipe.created }} |
      Updated on {{ recipe.updated }}
    </p>
    {% if recipe.servings %}
    <p>
    Serves: {{ servings|default_if_none:recipe.servings }}
    </p> How many mouth holes are you trying to feed?
      <form method="GET">
        <input required type="number" min="0", name="servings">
        <button class="button">Do Da Math!</button>
      </form>
    {% endif %}
    <form method="post" action="{% url 'recipe_rating' recipe.id %}">
      {% csrf_token %}
      <div class="rating-form-grid">
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
      </div>
    </form>
    <p>Tags: 
      {% for tag in recipe.tags.all %}
      <a href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>,   
      {% endfor %}</p>
    {{ recipe.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient|resize_to:servings }}</td>
            {% comment %} <td>{{ ingredient.amount }}</td> {% endcomment %}
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
              {% if ingredient.food in food_in_shopping_list %}
              <td> Already in shopping list, stoopid! </td>
              {% else %}
              <td>
              <form method="POST" action="{% url 'shopping_item_create' %}">
                {% csrf_token %}
                <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                <button>+ shopping list</button>
              </form>
              </td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}
