{% extends 'base.html' %}

{% block content %}
  <main class="tag-detail">
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes with Tag: {{ mealplan.name }}</h2>
    {% for meal in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' meal.pk %}">{{ meal.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}