{% extends 'base.html' %}

{% block content %}
<main class="recipe-form">
    <h2>Log In</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="submit">Log</button>
      </div>
    </form>
  </main>

{% endblock content%}